.login-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  @media screen and (max-width: 900px) {
    width: 80vw;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 400px) {
    margin-top: 60px;
  }
  @media screen and (max-width: 330px) {
    margin-top: 120px;
  }

  //margin-left: 90px;
  form {
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .login-text {
    padding-bottom: 20px;
    h1 {
      font-weight: 900;
      font-size: 34px;
      @media screen and (max-width: 470px) {
        font-size: 28px;
      }
    }
    span {
      font-weight: 600;
      font-size: 18px;
      color: #4a4a4a;
      @media screen and (max-width: 470px) {
        font-size: 16px;
      }
    }
  }

  .submit-buttons {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 900px) {
      width: 100%;
      display: grid;
      justify-items: flex-start;
      grid-template-columns: 1fr 1fr;
    }
  }
}
