.cart-dropdown {
  position: absolute;
  width: 265px;
  height: 360px;
  outline: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  right: 65px;
  top: 100px;
  background-color: white;
  z-index: 1;
  padding-bottom: 20px;
  @media screen and (max-width: 800px) {
    right: 10px;
    top: 90px;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    height: 78%;
    width: 90%;
    overflow: auto;
    padding-top: 15px;
  }
  .empty-cart {
    font-size: 18px;
    margin: auto;
    font-weight: bold;
  }
}
